<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partial/head'); -%>

<body>

  <!-- Navigation Header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Cửa hàng ốc vít</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" >
            <a class="nav-link" href="/">Trang Chủ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gioi-thieu">Giới Thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lien-he">Liên hệ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <%- include('partial/left-sidebar', { categories: categories }); -%>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9 pt-4">

        <h2 class="pb-3">Sản phẩm trong danh mục <%= currentCategory.name %>:</h2>
        <%- include('partial/product-list', { products: products }); -%>

        
        <% if (maxPage > 1) { %>
        <nav aria-label="myPagination">
          <ul class="pagination justify-content-center">
            <li class="page-item <%= (currentPage == 1) ? "disabled" : '' %>">
              <a class="page-link" href="/danh-muc/<%= currentCategory.id %>?page=<%= +currentPage-1 %>">Previous</a>
            </li>
            <% for (let i=1; i<= maxPage; i++) { %>
            <li class="page-item <%= (currentPage == i) ? "active" : '' %>">
              <a class="page-link" href="/danh-muc/<%= currentCategory.id %>?page=<%= i %>"> <%= i %> </a>
            </li>
            <% } %>
            <li class="page-item <%= (currentPage == maxPage) ? "disabled" : '' %>">
              <a class="page-link" href="/danh-muc/<%= currentCategory.id %>?page=<%= +currentPage+1 %>">Next</a>
            </li>
          </ul>
        </nav>
        <% } %>

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <%- include('partial/footer'); -%>

</body>

</html>